<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AckNews</title>
    <link rel="icon" type="image/png" href="static/img/New Piskel-1.png (1).png" sizes="16x16">
    <style> @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap'); </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="heading-container">
        <img src="static/img/New Piskel-1.png (1).png" alt="logo" style="display: block;
        margin: 0 auto;" width="150" height="100">
        <br>
        <h1 style="text-align: center;">Sorry! Your Search was missing some fields</h1>
        <h2 style="text-align: center;">You must include both a search query and a filter based on the category you want to search in.</h2>
    </div>
    <br>
    <div class="return-form">
        
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary btn-lg" onclick="relocate_home()">Refine your Search</button>
        
        </form>

        <script>
            function relocate_home()
            {
                 location.href = "/";
            } 
            </script>
    </div>

    
</body>
</html>